<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">

	<div th:replace="layout :: frgImg" class="agileits-banner"></div>

	<div id="wrapper">
			<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 th:text="${title}" class="h3 mb-0 text-gray-800"></h1>
					</div>					
					<table class="table table-hover">
						<thead>
							<tr>
								<th>C&eacute;dula</th>
								<th>Nombre</th>
								<th>Direci&oacute;n</th>
								<th>Tel&eacute;fono</th>
								<th>Imagen</th>
								<th><a class="btn btn-sm btn-success"
									th:href="@{/cliente/create}">&nbsp;Nuevo</a></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c : ${clientes}">
								<td th:text="${c.cedula}"></td>
								<td th:text="${c.nombres}"></td>
								<td th:text="${c.direccion}"></td>
								<td th:text="${c.telefono}"></td>
								<td th:text="${c.imagen}"></td>
								<td><a class="btn btn-sm btn-warning"
									th:href="@{/cliente/update/} + ${c.idcliente}">&nbsp;Actualizar</a>
									<a class="btn btn-sm btn-info"
									th:href="@{/cliente/retrieve/} + ${c.idcliente}">&nbsp;Consultar</a>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
				<!-- /.container-fluid -->
						
		</div>

	<footer th:replace="layout :: frgFooter"></footer>




</body>
</html>