<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">

	<div th:replace="layout :: frgImg" class="agileits-banner"></div>

	<div id="wrapper">

		<div class="contact">
			<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div class="container">

						<div class="card o-hidden border-0 shadow-lg my-5">
							<div class="card-body p-0">
								<!-- Nested Row within Card Body -->
								<div class="row">
									<div class="col-lg-7">
										<div class="p-5">
											<div class="text-center">
												<h1 th:text="${adopcion}" class="h4 text-gray-900 mb-4"></h1>
											</div>
											<hr>
											<div class="form-group row">
												<div class="col-sm-12 mb-3 mb-sm-0">
													<label class="form-control form-control-user"
														th:text="${adopcion.fechaPublic()}"></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-12 mb-3 mb-sm-0">
													<label class="form-control form-control-user"
														th:text="${adopcion.fechaAsignacion()}"></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-12 mb-3 mb-sm-0">
													<label class="form-control form-control-user"
														th:text="${adopcion.estado}"></label>
												</div>
											</div>
											<div class="form-group row">
												<div class="col-sm-12 mb-3 mb-sm-0">
													<label class="form-control form-control-user"
														th:text="${adopcion.observacion}"></label>
												</div>
											</div>
											<hr>
																						
											<h5 class="modal-title">Desea eliminar el registro?</h5>
											<div class="form-group row">
												<div class="col-sm-6 mb-3 mb-sm-0">													
													<a th:href="@{/adopcion/delete/} + ${adopcion.idadopcion}"
																class="btn btn-success btn-user btn-block">Confirmar</a>
												</div>
												<div class="col-sm-6 mb-3 mb-sm-0">
													<a th:href="@{/adopcion/list}"
														class="btn btn-danger btn-user btn-block">Cancelar</a>
												</div>
											</div>
																						
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
		</div>

	</div>

	<footer th:replace="layout :: frgFooter"></footer>




</body>
</html>