<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head th:replace="layout :: frgHead"></head>
<body id="page-top">

	<div th:replace="layout :: frgImg" class="agileits-banner"></div>

	<!-- contact -->
	<div class="contact">
		<div class="container">
			<h3 class="agileits-title">Contáctanos</h3>
			<div class="contact-agileinfo">
				<div class="col-md-7 contact-right">
					<form action="#" method="post">
						<input type="text" name="Name" placeholder="Name" required="">
						<input type="text" class="email" name="Email" placeholder="Email" required="">
						<input type="text" name="Phone no" placeholder="Phone" required="">
						<textarea name="Message" placeholder="Message" required=""></textarea>
						<input type="submit" value="ENVIAR">
					</form>
				</div>
				<div class="col-md-5 contact-left">
					<div class="address">
						<h5>Dirección:</h5>
						<p><i class="glyphicon glyphicon-home"></i> Latacunga </p>
					</div>
					<div class="address address-mdl">
						<h5>Telefóno:</h5>
						<p><i class="glyphicon glyphicon-earphone"></i>  03 2031034</p>
						<p><i class="glyphicon glyphicon-phone"></i> 0997378094 </p>
					</div>
					<div class="address">
						<h5>Email:</h5>
						<p><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:info@example.com">adopcionmascotas@gmail.com</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	<div class="agileits-w3layouts-map">
		<iframe src="https://maps.google.com/maps?width=100%&height=600&hl=es&q=Latacunga+(Ubicacion)&ie=UTF8&t=&z=15&iwloc=B&output=embed" 
		    allowfullscreen></iframe>
	</div>
	<!-- //contact -->
	
	<footer th:replace="layout :: frgFooter"></footer>
	
	
	

</body>

</html>