<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">

	<div th:replace="layout :: frgImg" class="agileits-banner"></div>

	<div id="wrapper">

		<div class="contact">
			<div class="container">

	<div class="breadcumb-area bg-img"
		style="background-image: url(img/bg-img/breadcumb.jpg);">
		<div class="bradcumbContent">
			<h2>Inicio de sesi&oacute;n</h2>
		</div>
	</div>

	<div class="top-popular-courses-area mt-100 section-padding-100-70">
		<section class="contact-area mt-100">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="contact-content">
							<div class="row">
								<!-- Contact Information -->
								<div class="col-12 col-lg-5">
									<div class="contact-information wow fadeInUp"
										data-wow-delay="400ms">
										<div class="section-heading text-left">
											<span>Framework</span>
											<h3>Spring Boot Security</h3>
											<p class="mt-30">
												Spring Security es un marco de autenticaci&oacute;n y
												control de acceso potente y altamente personalizable. Es el
												est&aacute;ndar de facto para asegurar aplicaciones basadas
												en Spring.</p>											
										</div>

									</div>
								</div>
								<!-- Contact Form Area -->
								<div class="col-12 col-lg-7">
									<div class="contact-form-area wow fadeInUp"
										data-wow-delay="500ms">										
											<form th:action="@{/login}" method="post">
												<div class="row d-flex align-items-center">
													<div class="col-1">
														<i class="fa fa-user fa-2x"></i>													
													</div>
													<div class="col-11">
														<input type="text" class="form-control"name="username" id="username" placeholder="Usuario"/>													
													</div>
												</div>
												<div class="row d-flex align-items-center">
													<div class="col-1">
														<i class="fa fa-key"></i>																											
													</div>
													<div class="col-11">
														<input type="password" class="form-control" name="password" id="password" placeholder="Password"/>													
													</div>
												</div>	
												<hr>
												<div class="d-flex justify-content-center">																																
													<button class="btn btn-sm academy-btn btn-3" type="submit"> &nbsp;Ingresar</button>
													<button class="btn btn-sm academy-btn btn-2 ml-2" type="reset"> &nbsp;Cancelar</button>
												</div>												
												<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											</form>										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	</div>
	</div>

</div>

	<footer th:replace="layout :: frgFooter"></footer>
</body>

</html>